@media all and (min-width:768px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    height: 200vh;
    font-family: 'Fire Sans', sans-serif;
    /* background-color: greenyellow; */
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: white;
    align-items: center;
}
.icon{
    margin-left: 100px;
}
.menu{
    margin-left: 350px;
    width: 500px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
button{
    width: 100px;
    height: 30px;
    border-color: yellowgreen;
    border-radius: 20px;
    transition: 0.6s ease;
    background: transparent;

}
button:hover{
    background-color: gray;
}
.header-2{
    width: 100%;
    height: 5%;
    background-color: rgb(164, 241, 47);
    display: flex;
    align-items: center;
}
.title{
    margin-left: 280px;
    font-size: 23px;
    color: white;
    font-weight: bold;
}
.main{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 1000px;
}
.first{
    margin-top: 20px;
}
.third{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: darkgreen;
}
}


