@media all and (min-width: 768px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Fire Sans', sans-serif;
    /* background-color: greenyellow; */
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(210, 253, 123);
}
a{
    text-decoration: none;
    color: darkgreen;
}
.header{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: white;
    align-items: center;
}
.icon{
    margin-left: 100px;
}
.menu{
    margin-left: 350px;
    width: 500px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
button{
    width: 100px;
    height: 30px;
    border-color: yellowgreen;
    border-radius: 20px;
    transition: 0.6s ease;
    background: transparent;

}
button:hover{
    background-color: gray;
}
.header-2{
    width: 100%;
    height: 5%;
    background-color: rgb(164, 241, 47);
    display: flex;
    align-items: center;
}
.title{
    margin-left: 280px;
    font-size: 23px;
    color: white;
    font-weight: bold;
}
.main{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 800px;
    justify-content: center;
    align-items: center;
}


.slideshow-container {
    height: 700px;
    width: 850px;
    position: relative;
    margin: initial;
    flex-direction: row;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(104, 102, 102);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.blog-card{
    position: absolute;
    height: 500px;
    width: 200vh;
    max-width: 850px;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 10px 50px rgba(46, 133, 19, 0.3); 
    
}
.blog-card .inner-part{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    height: 500px;
}
.inner-part .img{
    height: 400px;
    width: 350px;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(46, 133, 19, 0.3);
}
.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content{
    padding: 0 20px 0 35px;
    width: 530px;
    margin-left: 20px;
    display: flex;
   
}

/* .content span{
     display: block;
     color: rgb(102, 180, 136);
     margin-bottom: 15px;
     font-size: 25px;
     font-weight: bold;   
} */

.content .text{
    font-size: 19px;
    line-height: 1.2em;
    text-align: justify;
    color: rgb(92, 92, 92);
 
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
         background-color: #717171;
}
  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
}