@media all and (min-width: 768px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Fire Sans', sans-serif;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(210, 253, 123);

}
.header{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: white;
    align-items: center;
}
.icon{
    margin-left: 100px;
}
.menu{
    margin-left: 350px;
    width: 500px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
button{
    width: 100px;
    height: 30px;
    border-color: yellowgreen;
    border-radius: 20px;
    transition: 0.6s ease;
    background: transparent;

}
button:hover{
    background-color: gray;
}
a{
    color: darkgreen;
    text-decoration: unset;
}
.header-2{
    width: 100%;
    height: 5%;
    background-color: rgb(164, 241, 47);
    display: flex;
    align-items: center;
}
.title{
    margin-left: 230px;
    font-size: 23px;
    color: white;
    font-weight: bold;
}
.main{
    height: 85%;
    width: 100%;  
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.content{
    width: 70%;
    /* height: ; */
    background-color: ivory;
}
.tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 80%;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: block;
}

.tabordion section label {
  background: rgb(205, 228, 172);
  color: darkgreen;
  border-radius: 20px;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 200px;
  height: 66px;
  z-index:100;
  margin-left: -142px;
  transition: 0.6s ease;
 
}
.tabordion section label:hover{
  background-color:rgb(164, 241, 47);
}


.tabordion section article {
  display: none;
  left: 100px;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;  
  top: 50px;
  line-height: 1.4em;
  font-size: 20px;
  /* background-color: lightcoral; */
}


.tabordion input[name="sections"]:checked + label { 
  background: #eee;
  color: #bbb;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}


@media (max-width: 533px) {
  
  h1 {
    width: 100%;
  }

  .tabordion {
    width: 100%;
  }
  
  .tabordion section label {
    font-size: 1em;
    width: 160px;
  }  

 .tabordion section article {
    left: 200px;
    min-width: 270px;
  } 
  
  .tabordion section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;

  }  
  
}


@media (max-width: 768px) {
  h1 {
    width: 96%;
  }

  .tabordion {
    width: 96%;
  }
}


@media (min-width: 1366px) {
  h1 {
    width: 70%;
  }

  .tabordion {
    width: 70%;
  }
}
}


